button {
  padding: 8px 24px;
  border-radius: 4px;

  font-size: 16px;
  font-weight: 700;

  &.button--primary {
    background-color: var(--green);
    color: var(--white);
  }

  &.button--secondary {
    background-color: var(--white);
    color: var(--black);
  }

  &.button--tertiary {
    background-color: var(--green);
    color: var(--white);
    border: 2px solid var(--white);
  }

  &:disabled {
    filter: brightness(0.8);
    cursor: default;
  }

  transition: all 0.4s;
}
