<app-default-layout>
  <main role="main">
    <form (submit)="$event.preventDefault()">
      <header>
        <h2>Quantos {{ animal | lowercase }}s?</h2>
        <p>(Informe um número inteiro maior que 0)</p>
      </header>

      <div>
        <app-input [(value)]="animalQuantity"></app-input>
        <app-button
          [isDisabled]="!isQuantityValid()"
          (onClick)="fetchLyrics()"
          type="tertiary"
          >Gerar Letra</app-button
        >
      </div>

      <div class="options">
        <div class="option">
          <p>Qual animal?</p>

          <div *ngFor="let animalProps of animals">
            <label [htmlFor]="animalProps">{{ animalProps | titlecase }}</label>
            <input
              [id]="animalProps"
              [value]="animalProps"
              name="animal"
              type="radio"
              [checked]="animal === animalProps"
              (change)="handleAnimalName(animalProps)"
            />
          </div>
        </div>

        <div class="option">
          <p>Qual local?</p>

          <div *ngFor="let placeItem of places">
            <label [htmlFor]="placeItem">{{ placeItem | titlecase }}</label>
            <input
              [id]="placeItem"
              [value]="placeItem"
              name="local"
              type="radio"
              [checked]="placeItem === place"
              (change)="handlePlaceName(placeItem)"
            />
          </div>
        </div>
      </div>
    </form>

    <section class="song-section">
      <header>
        <h1 class="song__name">{{ song.title }}</h1>
      </header>

      <div class="song__lyrics">
        <p *ngFor="let paragraph of song.paragraphs" class="lyrics__paragraph">
          <ng-container *ngFor="let verse of paragraph">
            {{ verse }} <br />
          </ng-container>
        </p>
      </div>
    </section>
  </main>
</app-default-layout>
