section {
  padding: 48px 96px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  padding: 24px 96px;
  background-color: var(--green);

  h2,
  p {
    color: var(--white);
    text-align: center;
  }

  div {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .options {
    gap: 32px;
  }

  .option {
    flex-direction: column;
  }
}

.song-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.song__name {
  font-size: 24px;
}

.song__lyrics {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
  max-width: 320px;

  .lyrics__paragraph {
    font-size: 16px;
    line-height: 24px;
  }
}
