@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

:root {
  --black: #333333;
  --white: #ffffff;
  --green: #99c14e;

  --default-shadow: 0px 4px 4px rgba(95, 178, 194, 0.08);
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  text-decoration: none;
  font-family: "Montserrat", sans-serif;

  color: var(--black);

  border: 0;
  outline: 0;
}

button {
  cursor: pointer;
}
